// @import '../../styles/settings/global';
// @import '../../styles/tools/unit';

$namespace: 'scmicon';

.#{$namespace} {
	display: inline-block;
	height: 1em;
	width: 1em;
	max-height: 100%;
	max-width: 100%;
	fill: currentColor; /* parrent's color */
	vertical-align: -0.125em; /* fix vertical align */
}
