.Hello {
	font-size: 24px;
	color: #aaa;
	transform: skew(30deg, 20deg);

	&--info {
		color: blue;
	}

	&--warning {
		color: #f0ad4e;
	}

	&--danger {
		color: #bb2124;
	}
}

.Hello-other {
	color: yellow;
}
