/**
 * COLORS
 */

$black: #262626;
$gray1: #83878c;
$gray2: #4e4e4e;
$gray3: #f2f2f2;
$gray4: #d4d4d4;
$gray5: #6e6e6e;
$green: #66e17e;
$orange: #ff711c;
$purple: #685aec;
$white: #ffffff;

$gradient-green: linear-gradient(105deg, $green, #23ac8d);
$gradient-orange: linear-gradient(261deg, $orange, #ff9b4b);
$gradient-purple: linear-gradient(283deg, $purple, #c165ff);
